<template>
  <div class="content">
    <h2>step7</h2>
    <p>
      <input type="text" v-model="targetDateStr">
      <button type="button" @click="showDatepicker = !showDatepicker">선택</button>
    </p>
    <datepicker-step7
      v-if="showDatepicker"
      labelTag="h3"
      :targetDateStr="targetDateStr"
      @onDateSelect="onDateSelect">
      <template v-slot:footer>
        <p>날짜를 선택해주세요!</p>
      </template>
    </datepicker-step7>
  </div>
</template>

<script>
import { format } from 'date-fns'
import DatepickerStep7 from '@/components/DatepickerStep7'

export default {
  name: 'Step7',
  components: {
    DatepickerStep7
  },
  data () {
    return {
      targetDateStr: '2019-04-03',
      showDatepicker: false
    }
  },
  computed: {
  },
  created () {
  },
  methods: {
    onDateSelect (date) {
      this.targetDateStr = format(date, 'YYYY-MM-DD')
      this.showDatepicker = false
    }
  }
}
</script>

<style lang="scss">
</style>
