<template>
  <div class="content">
    <h2>step5</h2>
    <p>
      <input type="text" v-model="targetDateStr">
    </p>
    <table class="date-table">
      <tr v-for="(week, weekIndex) in weekList" :key="weekIndex">
        <td v-for="item in week" :key="item.dateStr">
          {{ item.dateStr }}
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import {
  parse,
  format,
  startOfMonth,
  lastDayOfMonth,
  addDays
} from 'date-fns'

export default {
  name: 'Step5',
  data () {
    return {
      targetDateStr: '2019-04-03'
    }
  },
  computed: {
    // TO-DO: setDateList method를 분리해서 computed로 처리
    targetDate () {
      return parse(this.targetDateStr)
    },
    firstDate () {
      return startOfMonth(this.targetDate)
    },
    lastDate () {
      return lastDayOfMonth(this.targetDate)
    },
    firstDateDayOfWeek () {
      return this.firstDate.getDay()
    },
    lastDateDayOfWeek () {
      return this.lastDate.getDay()
    },
    dateList () {
      const items = []
      const startIndex = -this.firstDateDayOfWeek
      const endIndex = this.lastDate.getDate() + (7 - this.lastDateDayOfWeek - 1)

      for (let i = startIndex; i < endIndex; i++) {
        const newDate = addDays(this.firstDate, i)
        items.push({
          date: newDate,
          dateStr: format(newDate, 'YYYY-MM-DD')
        })
      }
      return items
    },
    // TO-DO: for... loop 편하게 주 단위로 배열 분할
    weekList () {
      const items = []

      for (let i = 0; i < this.dateList.length; i++) {
        if (i % 7 === 0) {
          items.push([])
        }
        items[items.length - 1].push(this.dateList[i])
      }
      console.log(items)
      return items
    }
  },
  created () {
  },
  methods: {
  }
}
</script>

<style lang="scss">
.date-table {
  td {
    padding: 3px 6px;
    border: 1px solid #aaa;
  }
}
</style>
