<template>
  <div class="content">
    <h2>step8</h2>
    <datepicker-step8
      labelTag="h3"
      v-model="targetDateStr"
      @onDateSelect="onDateSelect">
      <template v-slot:footer>
        <p>날짜를 선택해주세요!</p>
      </template>
    </datepicker-step8>

    <datepicker-step8
      labelTag="h3"
      v-model="targetDateStr2"
      @onDateSelect="onDateSelect">
    </datepicker-step8>
  </div>
</template>

<script>
import { format } from 'date-fns'
import DatepickerStep8 from '@/components/DatepickerStep8'

export default {
  name: 'Step8',
  components: {
    DatepickerStep8
  },
  data () {
    return {
      targetDateStr: '2019-04-03',
      targetDateStr2: null
    }
  },
  computed: {
  },
  created () {
  },
  methods: {
    onDateSelect (date) {
      console.log('onDateSelect:', format(date, 'YYYY-MM-DD'))
      console.log(this.targetDateStr, this.targetDateStr2)
    }
  }
}
</script>

<style lang="scss">
</style>
