<template>
  <div class="content">
    <h2>step4</h2>
    <p>
      <input type="text" v-model="targetDateStr">
      <button type="button" @click="setDateList">
        dateList 채우기
      </button>
    </p>
    <ol>
      <li v-for="item in dateList" :key="item.dateStr">
        {{ item.dateStr }}
      </li>
    </ol>
  </div>
</template>

<script>
import {
  parse,
  format,
  startOfMonth,
  lastDayOfMonth,
  addDays
} from 'date-fns'

export default {
  name: 'Step4',
  data () {
    return {
      targetDateStr: '2019-04-03',
      dateList: [],
      firstDateDayOfWeek: null,
      lastDateDayOfWeek: null
    }
  },
  computed: {
  },
  created () {
    //
  },
  methods: {
    setDateList () {
      this.dateStrList = []
      const targetDate = parse(this.targetDateStr)
      const firstDate = startOfMonth(targetDate)
      const lastDate = lastDayOfMonth(targetDate)
      const lastDay = lastDate.getDate()

      // TO-DO: 이전달과 다음달 빈칸 채우기
      // 1일과 마지막 날이 무슨 요일인지 확인
      this.firstDateDayOfWeek = firstDate.getDay()
      this.lastDateDayOfWeek = lastDate.getDay()

      // 이전달은 firstDateDayOfWeek 칸 채우면 됨
      // 다음달은 7 - lastDateDayOfWeek - 1 칸 채우면 됨
      const startIndex = -this.firstDateDayOfWeek
      const endIndex = lastDay + (7 - this.lastDateDayOfWeek - 1)

      for (let i = startIndex; i < endIndex; i++) {
        const newDate = addDays(firstDate, i)
        this.dateList.push({
          date: newDate,
          dateStr: format(newDate, 'YYYY-MM-DD')
        })
      }
      console.log(this.dateList)
    }
  }
}
</script>

<style>

</style>
