<template>
  <div class="content">
    <h2>step3</h2>
    <p>
      <input type="text" v-model="targetDateStr">
      <button type="button" @click="setDateList">
        dateList 채우기
      </button>
    </p>
    <p v-if="dateList.length">
      {{ dateList[0].dateStr }}: {{ firstDateDayOfWeek | dayName }}<br>
      {{ dateList[dateList.length - 1].dateStr }}: {{ lastDateDayOfWeek | dayName }}
    </p>
    <ol>
      <li v-for="item in dateList" :key="item.dateStr">
        {{ item.dateStr }}
      </li>
    </ol>
  </div>
</template>

<script>
import {
  parse,
  format,
  startOfMonth,
  lastDayOfMonth,
  addDays
} from 'date-fns'

export default {
  name: 'Step3',
  data () {
    return {
      targetDateStr: '2019-04-03',
      dateStrList: [],
      firstDateDayOfWeek: null,
      lastDateDayOfWeek: null
    }
  },
  computed: {
    // #3. dateStr 배열에서 date 배열 만들기
    dateList () {
      return this.dateStrList.map(dateStr => {
        return {
          dateStr,
          date: parse(dateStr)
        }
      })
    }
  },
  created () {
    //
  },
  methods: {
    setDateList () {
      this.dateStrList = []
      const targetDate = parse(this.targetDateStr)
      const firstDate = startOfMonth(targetDate)
      const lastDate = lastDayOfMonth(targetDate)

      const year = lastDate.getFullYear()
      const month = lastDate.getMonth() + 1
      const lastDay = lastDate.getDate()

      console.log(format(firstDate, 'YYYY-MM-DD'), format(lastDate, 'YYYY-MM-DD'))

      for (let i = 1; i <= lastDay; i++) {
        this.dateStrList.push(`${year}-${month}-${i}`)
      }
      console.log(this.dateStrList)

      // TO-DO: 이전달과 다음달 빈칸 채우기
      // 1일과 마지막 날이 무슨 요일인지 확인
      this.firstDateDayOfWeek = firstDate.getDay()
      this.lastDateDayOfWeek = lastDate.getDay()

      // 이전달은 firstDateDayOfWeek 칸 채우면 됨
      // 다음달은 7 - lastDateDayOfWeek - 1 칸 채우면 됨
      const prevMonthLastDate = lastDayOfMonth(addDays(firstDate, -1))
      const prevMonthLastDay = prevMonthLastDate.getDate()

      for (let i = 0; i < this.firstDateDayOfWeek; i++) {
        const newDay = prevMonthLastDay - i
        this.dateStrList.unshift(`${year}-${month - 1}-${newDay}`)
      }

      for (let i = 0; i < (7 - this.lastDateDayOfWeek - 1); i++) {
        this.dateStrList.push(`${year}-${month + 1}-${i + 1}`)
      }

      // 뭔가 복잡해지고 오류도 있음 ^^;
      // 날짜 계산은 date 객체로 하는게 최선
      // TO-DO: dateStrList가 아닌 dateList 만들고 이전, 다음달 빈칸에 해당하는 date 추가
    }
  }
}
</script>

<style>

</style>
