<template>
  <div class="content">
    <h2>step1</h2>
    <p>
      <input type="text" v-model="targetDateStr">
      <button type="button" @click="setDateList">
        dateList 채우기
      </button>
    </p>
    <ol>
      <li v-for="dateStr in dateStrList" :key="dateStr">
        {{ dateStr }}
      </li>
    </ol>
  </div>
</template>

<script>
import {
  parse,
  format,
  startOfMonth,
  lastDayOfMonth
} from 'date-fns'

export default {
  name: 'Step1',
  data () {
    return {
      targetDateStr: '2019-04-03',
      dateStrList: []
    }
  },
  methods: {
    setDateList () {
      this.dateStrList = []

      // TO-DO: targetDateStr이 속한 달의 모든 dateStr을 dateStrList에 채우기
      const targetDate = parse(this.targetDateStr)

      // #1. 해당하는 달의 처음과 마지막 날 구하기
      const firstDate = startOfMonth(targetDate)
      const lastDate = lastDayOfMonth(targetDate)

      const year = lastDate.getFullYear()
      const month = lastDate.getMonth() + 1
      const lastDay = lastDate.getDate()

      console.log(format(firstDate, 'YYYY-MM-DD'), format(lastDate, 'YYYY-MM-DD'))

      // #2. dateStrList 채우기
      for (let i = 1; i <= lastDay; i++) {
        this.dateStrList.push(`${year}-${month}-${i}`)
      }
      console.log(this.dateStrList)
    }
  }
}
</script>

<style>

</style>
