<template>
  <div class="datepicker">
    <p ref="dateInputBox">
      <input type="text" :value="value" @input="$emit('input', $event.target.value)">
      <button type="button" @click="showDatepicker = !showDatepicker">선택</button>
    </p>
    <div class="calendar" v-if="showDatepicker" :style="calendarStyle">
      <div class="date-header">
        <button type="button" class="prev"
          @click="addMonthStr(-1)">&lt;</button>
        <component :is="labelTag" class="month-label">{{ monthStr }}</component>
        <button type="button" class="next"
          @click="addMonthStr(1)">&gt;</button>
      </div>
      <table class="date-table">
        <slot>
          <tr>
            <th>일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
          </tr>
        </slot>
        <tr v-for="(week, weekIndex) in weekList" :key="weekIndex">
          <td v-for="item in week" :key="item.dateStr">
            <button type="button" :class="item.cssClass"
              @click="onDateClick(item.date)">
              {{ item.date.getDate() }}
            </button>
          </td>
        </tr>
      </table>
      <slot name="footer"/>
    </div>
  </div>
</template>

<script>
import {
  parse,
  format,
  startOfMonth,
  lastDayOfMonth,
  addDays,
  addMonths,
  isSameDay
} from 'date-fns'
import { DAY_NAME } from '@/libs/constants'

export default {
  name: 'DatepickerStep8',
  props: {
    labelTag: {
      type: String,
      default: 'div'
    },
    value: {
      type: String
    }
  },
  data () {
    return {
      monthStr: null,
      showDatepicker: false
    }
  },
  computed: {
    targetDate () {
      return parse(this.value)
    },
    monthDate () {
      return parse(this.monthStr)
    },
    firstDate () {
      return startOfMonth(this.monthDate)
    },
    lastDate () {
      return lastDayOfMonth(this.monthDate)
    },
    firstDateDayOfWeek () {
      return this.firstDate.getDay()
    },
    lastDateDayOfWeek () {
      return this.lastDate.getDay()
    },
    dateList () {
      const items = []
      const startIndex = -this.firstDateDayOfWeek
      let endIndex = this.lastDate.getDate() + (7 - this.lastDateDayOfWeek - 1)
      const totalDays = endIndex - startIndex
      const totalWeeks = totalDays / 7

      if (totalWeeks === 5) {
        endIndex += 7
      }

      const today = new Date()

      for (let i = startIndex; i < endIndex; i++) {
        const newDate = addDays(this.firstDate, i)
        const newDateDayOfWeek = newDate.getDay()

        items.push({
          date: newDate,
          dateStr: format(newDate, 'YYYY-MM-DD'),
          cssClass: {
            // TO-DO: magic number 제거
            saturday: newDateDayOfWeek === DAY_NAME.SAT,
            sunday: newDateDayOfWeek === DAY_NAME.SUN,
            today: isSameDay(newDate, today),
            selected: this.targetDate && isSameDay(newDate, this.targetDate),
            'prev-month': i < 0,
            'next-month': i >= this.lastDate.getDate()
          }
        })
      }
      return items
    },
    weekList () {
      const items = []

      for (let i = 0; i < this.dateList.length; i++) {
        if (i % 7 === 0) {
          items.push([])
        }
        items[items.length - 1].push(this.dateList[i])
      }
      return items
    },
    calendarStyle () {
      const inputBoxEl = this.$refs.dateInputBox

      if (!inputBoxEl) {
        return null
      }

      return {
        top: inputBoxEl.offsetHeight + 'px'
      }
    }
  },
  created () {
    // 특정일 지정하지 않으면 현재 달로
    if (!this.value) {
      this.monthStr = format(new Date(), 'YYYY-MM')
    } else {
      this.monthStr = format(parse(this.value), 'YYYY-MM')
    }
    console.log(this.monthStr)
  },
  methods: {
    addMonthStr (months) {
      const ts = performance.now()
      const newMonth = addMonths(parse(this.monthStr), months)
      this.monthStr = format(newMonth, 'YYYY-MM')

      this.$nextTick(() => {
        console.log((performance.now() - ts).toFixed(1) + 'ms')
      })
    },
    onDateClick (date) {
      this.$emit('input', format(date, 'YYYY-MM-DD'))
      this.$emit('onDateSelect', date)
      this.showDatepicker = false
    }
  }
}
</script>

<style lang="scss">
.datepicker {
  position: relative;

  button {
    cursor: pointer;
  }

  .calendar {
    position: absolute;
    width: 300px;
    left: 0;
    z-index: 10;
    padding-top: 10px;
    background-color: #fff;
  }

  .date-header {
    text-align: center;
    margin-bottom: 20px;

    .month-label {
      display: inline;
    }

    button {
      float: left;
      &.next {
        float: right;
      }
    }
  }

  .date-table {
    width: 100%;
    border-collapse: collapse;

    th {
      border: 1px solid #aaa;
      padding: 6px 8px;
    }
    td {
      padding: 0;
      border: 1px solid #aaa;

      button {
        width: 100%;
        border: 0;
        padding: 6px 8px;
        background: inherit;

        &.saturday {
          color: blue;
        }
        &.sunday {
          color: red;
        }
        &.today {
          font-weight: bold;
          text-decoration: underline;
        }
        &.selected {
          background-color: #333;
          color: #fff;
        }
        &.prev-month,
        &.next-month {
          font-weight: inherit;
          background-color: inherit;
          color: #aaa;
          text-decoration: inherit;
        }
      }
    }
  }
}
</style>
