<template>
  <div id="app">
    <div id="nav">
      <template v-for="(item, index) in stepRoutes">
        <router-link :key="item.name" :to="{ name: item.name }">
          {{ item.name }}
        </router-link>
        <span v-if="index !== stepRoutes.length - 1" :key="index">&gt;</span>
      </template>
    </div>
    <router-view/>
  </div>
</template>

<script>
import router from '@/router'

export default {
  name: 'App',
  computed: {
    stepRoutes () {
      return router.options.routes.find(item => item.name === 'step').children
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: sans-serif;
  font-size: 13px;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    margin: 0 4px;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
